@mixin tablets() {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 54px 1fr 144px;
  overflow: hidden;
  grid-template-areas: 
    "header"
    "content"
    "footer"
}

.masthead {
  grid-area: header;
}

.site-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 250px auto;
  grid-template-areas: 
    "main promo"
    "main disclamer";

  @include tablets {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
      "promo"
      "main"
      "disclamer"
  }
}

.main-area {
  grid-area: main;
}

.footer-area {
  grid-area: disclamer;
}

.promo-area {
  grid-area: promo;
}

.breakdown {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 10px; 

  @include phones() {
    display: block;
  }
}

.intro {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.step01-image {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.step02-image {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}

.step03-image {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.step04-image {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.step05-image {
  grid-column: 3 / 4;
  grid-row: 3 / 6;
}

.step06-image {
  grid-column: 4 / 5;
  grid-row: 3 / 6;
}

.step01-body {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

.step02-body {
  grid-column: 3 / 5;
  grid-row: 6 / 7;
}

.step03-body {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}

.step04-body {
  grid-column: 3 / 5;
  grid-row: 7 / 8;
}

.step05-body {
  grid-column: 1 / 3;
  grid-row: 8 / 9;
}

.step06-body {
  grid-column: 3 / 5;
  grid-row: 8 / 9;
}

.site-footer {
  grid-area: footer;
}
